In [1]:
from bcb import sgs
selic = sgs.get({'selic':432}, start = '2010-01-01')
inflacao = sgs.get({'ipca': 433,'igp-m': 189}, start = '2021-01-01')

display(selic, inflacao)

            selic
Date
2010-01-01   8.75
2010-01-02   8.75
2010-01-03   8.75
2010-01-04   8.75
2010-01-05   8.75
...           ...
2023-01-08  13.75
2023-01-09  13.75
2023-01-10  13.75
2023-01-11  13.75
2023-01-12  13.75

[4760 rows x 1 columns]

            ipca  igp-m
Date
2021-01-01  0.25   2.58
2021-02-01  0.86   2.53
2021-03-01  0.93   2.94
2021-04-01  0.31   1.51
2021-05-01  0.83   4.10
2021-06-01  0.53   0.60
2021-07-01  0.96   0.78
2021-08-01  0.87   0.66
2021-09-01  1.16  -0.64
2021-10-01  1.25   0.64
2021-11-01  0.95   0.02
2021-12-01  0.73   0.87
2022-01-01  0.54   1.82
2022-02-01  1.01   1.83
2022-03-01  1.62   1.74
2022-04-01  1.06   1.41
2022-05-01  0.47   0.52
2022-06-01  0.67   0.59
2022-07-01 -0.68   0.21
2022-08-01 -0.36  -0.70
2022-09-01 -0.29  -0.95
2022-10-01  0.59  -0.97
2022-11-01  0.41  -0.56
2022-12-01  0.62   0.45